<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
    <style></style>
  </head>
  <body>
    <footer>
      <div class="footer-content">
        <div>
          <div class="footer-logo">DEV<span>NEST</span></div>
          <p class="footer-description">
            Nền tảng học tập công nghệ thông tin trực tuyến
          </p>
        </div>
      </div>
      <div class="copyright">
        © 2025. DEVNEST LEARNING. All rights reserved.
      </div>
    </footer>
  </body>
</html>
